@use "@angular/material" as mat;

$dark-purple-palette: (
  50: #e3ecff,
  100: #b9ceff,
  200: #8aaeff,
  300: #5a8cf5,
  400: #3a72ea,
  500: #1747b0,
  600: #123c98,
  700: #0d3080,
  800: #082468,
  900: #051850,
  contrast: (
    50: #0a1a40,
    500: #ffffff,
    900: #ffffff,
    A50: #0a1a40,
  ),
);
$red-purple-palette: (
  50: #fff6dc,
  100: #fde8a8,
  200: #f8d572,
  300: #f2cf72,
  400: #e9bd45,
  500: #d9a420,
  600: #c08f14,
  700: #a37810,
  800: #86610c,
  900: #694a08,
  contrast: (
    50: #0a1a40,
    500: #0a1a40,
    900: #ffffff,
    A50: #0a1a40,
  ),
);

$my-primary: mat.define-palette($dark-purple-palette, 500, 50, 900);
$my-accent: mat.define-palette($red-purple-palette, 500, 50, 900);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
  )
);


$common-purple: mat.get-color-from-palette($dark-purple-palette, 500);
$common-red: mat.get-color-from-palette(mat.$red-palette, A700);
$warn: mat.get-color-from-palette($my-warn, 400);
$white: #ffffff;
